In [2]:
import os
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
        .appName("Pyspark-") \
        .getOrCreate()

In [5]:
data = [("Alice",25), ("Bob",23), ("Minh",22)]
df = spark.createDataFrame(data, ["Name", "Age"])
df.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 25|
|  Bob| 23|
| Minh| 22|
+-----+---+

In [7]:
spark.stop()